.orange-ee-f9-bg {
  background-image: linear-gradient(-135deg, #ee704b 0%, #f93f11 100%);
}
.grey-4a-09-bg {
  background-image: linear-gradient(-135deg, #4a4a4a, 0% #090909 100%);
}
.orange-ed-fa-bg {
  background-image: linear-gradient(-135deg, #ed5e35 0% #fa3f11 100%);
}
.grey-fa-bg {
  background-image: #fafafa;
}
.grey-f7-bg {
  background: #f7f7f7;
}
