.product-header {
  font-size: 14px;
  color: #8c8c8c;
  text-align: center;
  width: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px auto 0 auto;

}
.w-list-header {
  padding-left: 15px;
  font-size: 14px;
  color: #4a4a4a;
}
.price-header {
  font-size: 14px;
  color: #fa3f11;
  text-align: center;
  margin: 5px auto 0 auto;
}
