<ion-view view-title="添加银行卡" cache-view="false">
  <ion-nav-buttons side="left">
    <a ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item item-input">
        <input type="text" placeholder="名字">
      </ion-item>
      <ion-item class="item item-input">
        <input type="number" placeholder="身份证">
      </ion-item>
      <div class="divider"></div>
      <ion-item class="item item-input">
        <input type="number" placeholder="卡号">
      </ion-item>
      <ion-item class="item item-input">
        <input type="number" placeholder="银行卡号">
      </ion-item>
    </ion-list>
    <div class="padding">
      <button class="button button-assertive button-block">完成</button>
    </div>
  </ion-content>
</ion-view>
