<ion-view view-title="优惠券" cache-view="false">
  <ion-nav-buttons side="left">
    <a ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item item-remove-animate" type="item-text-wrap">
        <div>优惠券</div>
        <div>有效期至2017-01-09</div>
        <div class="item-note">
          {{10 | currency : '￥'}}
        </div>
      </ion-item>
      <div class="divider"></div>
      <ion-item class="item item-remove-animate" type="item-text-wrap">
        <div>优惠券</div>
        <div>有效期至2017-01-09</div>
        <div class="item-note">
          {{10 | currency : '￥'}}
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
