<ion-view view-title="忘记密码">
  <ion-nav-buttons side="left">
    <a ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list padding" id="notLogin">
      <label class="item item-input">
        <input type="tel" placeholder="手机号" ng-model="data.userTel">
      </label>
      <label class="item item-input-inset">
        <input type="number" placeholder="验证码">
      </label>
      <button class="button button-calm">获得验证码</button>
      <button class="button button-block button-calm" ui-sref="resetpassword">下一步</button>
    </div>
  </ion-content>
</ion-view>
