<ion-view view-title="重置密码">
  <ion-nav-buttons side="left">
    <a ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list padding" id="notLogin">
      <label class="item item-input">
        <input type="password" placeholder="输入新密码" ng-model="data.password" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z\x21-\x7e]{8,16}$/" required>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="确认新密码" ng-model="data.passwordRepeat" required>
      </label>
      <button class="button button-block button-calm" ui-sref="signin">完成</button>
    </div>
  </ion-content>
</ion-view>
