<ion-view view-title="设置" cache-view="false">
  <ion-nav-bar class="bar-light" align-title="center">
    <ion-nav-buttons side="left">
      <a ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-right" style="border-top: none;">
        <span class="font-16 grey-8c">意见反馈</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item item-icon-right">
        <span class="font-16 grey-8c">客服电话</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="divider"></div>
      <ion-item class="item item-remove-animate item-icon-right" type="item-text-wrap" style="border-top: none;">
        <span class="grey-8c font-16">说明</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item item-remove-animate item-icon-right" type="item-text-wrap" ui-sref="contactsList">
        <span class="font-16 grey-8c">门店员工</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="divider-1"></div>
    </ion-list>
  </ion-content>
</ion-view>
