<ion-popover-view>
  <!--<ion-nav-buttons side="left">-->
    <!--<a ng-click="" class="button button-icon icon ion-ios-arrow-back light" nav-direction="back"></a>-->
  <!--</ion-nav-buttons>-->
  <ion-header-bar>
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchContent">
      </label>
    </div>
  </ion-header-bar>
  <ion-content>
    Hello!
  </ion-content>
</ion-popover-view>
