<ion-view view-title="查看物流" cache-view="false" class="font-base">
  <ion-nav-buttons side="left">
    <a ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item item-remove-animate item-thumbnail-left" type="item-text-wrap">
        <img src="img/max.png">
        <h2>物流状态 已签收</h2>
        <h3>承运来源：圆通速递</h3>
        <h3>运单编号：885698789989878512</h3>
        <h3>官方电话：暂无</h3>
      </ion-item>
      <div class="divider"></div>
      <div id="timeline" class="padding">
        <div class="timeline-item">
          <div class="timeline-icon" style="top: 20px;"></div>
          <div class="timeline-content">
            [上海市]上海市浦东新区外高桥公司 已签收 签收人：邮件收发章，感谢使用圆通快递，期待再次为您服务
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon" style="top: 105px;"></div>
          <div class="timeline-content">
            [上海市]上海市浦东新区外高桥公司 已签收 签收人：邮件收发章，感谢使用圆通快递，期待再次为您服务
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon" style="top: 205px;"></div>
          <div class="timeline-content">
            [上海市]上海市浦东新区外高桥公司 已签收 签收人：邮件收发章，感谢使用圆通快递，期待再次为您服务
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
