<ion-view view-title="确认收货" cache-view="false">
  <ion-nav-buttons side="left">
    <a ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content>
    <h2 class="text-center" style="padding: 20px 0;">收货成功</h2>
    <div class="list padding">
      <button class="button button-block button-light" style="border-color: #9e9e9e;" ui-sref="orederdetail">查看订单</button>
      <button class="button button-block button-assertive" ui-sref="tab.websites">返回首页</button>
    </div>
  </ion-content>
</ion-view>

