<ion-view view-title="积分商城" cache-view="false">
  <ion-nav-bar class="bar-light" align-title="center">
    <ion-nav-buttons side="left">
      <a ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-back" nav-direction="back"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <div class="content">
      <div class="list">
        <div class="discovery product-wrapper">
          <div class="col-50" ng-repeat="list in productList" ui-sref="productdetail({productId: list.id, type: 'mall'})">
            <div class="item item-discovery">
              <img ng-src="{{list.avatarList[0]}}">
              <div class="product-header discovery-title">{{list.name}}</div>
              <div class="price-header">{{list.sellPrice}} 积分</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
